@model ViewModels.HomeViewModel
@{
		Layout = "/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
		ViewBag.Title = "قانون گستر مرکز تخصصی روابط کار در ایران";
		ViewBag.Canonical = "https://ghanongostar.com/";
		ViewBag.Description = "قانون گستر مرکز تخصصی روابط کار در ایران با مدیریت مهندس وجید حاجی زاده، مستر کار ایران می باشد. مشاوره در حوزه قوانین کار و تامین اجتماعی و منابع انسانی و فرم ها و قراردادهای مورد نیاز کارفرمایان و اطلاعات قانونی مورد نیاز کارمندان را در این وب سایت بیابید.";
}

<section class="slider-wrapper">
	<div class="slider-start slider-1 owl-carousel owl-theme">
		<div class="item">
			<img src="/images/banner/arbain.jpg" alt="اربعین">
		 </div>
		<div class="item">
			<img src="/images/banner/slide-1.jpg" alt="دوره آموزشی پروجاب">
			<div class="container-fluid custom-container slider-content">
				<div class="row align-items-center">
					<div class="col-12 col-sm-8 col-md-8 col-lg-6 ml-auto">
						<div class="slider-text ">
							<p class="animated fadeInUp">برای ثبت نام در دوره همین حالا اقدام کنید</p>
							<a class="animated fadeInUp btn-two" href="/online-course/g-100">ثبت نام در پروجاب 7</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		@*<div class="item">
			<img src="/images/banner/banner1.jpg" alt="">
			<div class="container-fluid custom-container slider-content">
				<div class="row align-items-center">
					<div class="col-12 col-sm-8 col-md-8 col-lg-6 ml-auto">
						<div class="slider-text ">
							<p class="animated fadeInUp">برای خرید در جشنواره همین حالا اقدام کنید</p>
							<a class="animated fadeInUp btn-two" href="/promotion">جشنواره تخفیفات قانون گستر</a>
						</div>
					</div>
				</div>
			</div>
		</div>*@

		<div class="item">
			<img src="/images/banner/law-book-slider.jpeg" alt="کتاب قانون کار">
			<div class="container-fluid custom-container slider-content">
				<div class="row align-items-center">
					<div class="col-12 col-sm-8 col-md-8 offset-md-1 col-lg-6 offset-xl-2 col-xl-5 mr-auto">
						<div class="slider-text mob-align-left">
							<h4 class="animated fadeInUp"><span>خرید از وب سایت و اپلیکیشن</span> قانون گستر</h4>
							<h1 class="animated fadeInUp">کتاب قانون کار</h1>
							<p class="animated fadeInUp">نویسنده: وحید حاجی زاده</p>
							<a class="animated fadeInUp btn-two" href="/products/g-106">خرید کتاب قانون کار</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="item">
			<img src="/images/banner/banner2.jpg" alt="پکیج مدیریت نوین سالن های زیبایی">
			<div class="container-fluid custom-container slider-content">
				<div class="row align-items-center">
					<div class="col-12 col-sm-8 col-md-8 offset-md-1 col-lg-6 offset-xl-2 col-xl-5 mr-auto">
						<div class="slider-text mob-align-left">
							<h4 class="animated fadeInUp"><span>خرید از وب سایت و اپلیکیشن</span> قانون گستر</h4>
							<h1 class="animated fadeInUp">مدیریت نوین سالن های زیبایی</h1>
							<p class="animated fadeInUp">در این دوره آخرین مباحث مربوط به قوانین کار سال 98 مطرح خواهد شد</p>
							<a class="animated fadeInUp btn-two" href="/products/g-97">خرید پکیج</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="banner padding-top-120">
	<div class="container-fluid custom-container">
		<div class="row">
			<div class="col-12 col-md-4">
				<a href="/app">
					<div class="sin-banner align-items-center">
						<img src="/images/banner/1.jpg" alt="">

					</div>
				</a>
			</div>
			<!-- /.col-xl-5 -->
			<div class="col-12 col-md-4">
				<a href="/online-course/g-98">
					<div class="sin-banner style-two">
						<img src="/images/banner/3.jpg" alt="">

					</div>
				</a>
			</div>
			<!-- /.col-xl-4 -->
			<div class="col-12 col-md-4">
				<a href="/forms/g-42">
					<div class="sin-banner">
						<img src="/images/banner/2.jpg" alt="">

					</div>
				</a>
			</div>
		</div>
	</div>
</section>


<section class="feature-area margin-top-80">
	<div class="container-fluid custom-container">
		<div class="row">
			<div class="col-sm-6 col-xl-3">
				<div class="sin-feature">
					<div class="inner-sin-feature">
						<div class="icon">
							<i class="flaticon-tool"></i>
						</div>
						<div class="f-content">
							<h6><a href="/forms">فرم ها و قراردادها</a></h6>
							<p>دانلود فرم و قراردادهای کار</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6  col-xl-3">
				<div class="sin-feature">
					<div class="inner-sin-feature">
						<div class="icon">
							<i class="flaticon-shopping-online-support"></i>
						</div>
						<div class="f-content">
							<h6><a href="/app">پرسش و پاسخ</a></h6>
							<p>سوالات خود را مطرح کنید</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6  col-xl-3">
				<div class="sin-feature">
					<div class="inner-sin-feature">
						<div class="icon">
							<i class="flaticon-shopping-cart"></i>
						</div>
						<div class="f-content">
							<h6><a href="/products">سفارش محصولات آموزشی</a></h6>
							<p>سفارش و دریافت DVD های آموزشی</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6  col-xl-3">
				<div class="sin-feature">
					<div class="inner-sin-feature">
						<div class="icon">
							<i class="flaticon-eye"></i>
						</div>
						<div class="f-content">
							<h6><a href="/online-course">دوره های آموزشی غیر حضوری</a></h6>
							<p>ثبت نام در دوره های غیر حضوری</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="banner-product">
	<div class="container container-two">
		<div class="section-heading pb-30">
			<h3>پرفروش ترین <span>محصولات</span></h3>
		</div>
		<div class="row justify-content-center">


			<div class="col-xl-3 col-lg-4 col-sm-6">
				@foreach (var homeProduct in Model.HomeProducts.Take(2).ToList())
				{
						<div class="sin-product">
							<a href="@homeProduct.Url">
								<img src="@homeProduct.ImageUrl" alt="@homeProduct.Title">
							</a>
							<div class="mid-wrapper style-two">
								<h5 class="pro-title"><a href="@homeProduct.Url">@homeProduct.Title</a></h5>


								@if (homeProduct.IsInPromotion)
								{
										<span class="product-list-price old-price">
											@homeProduct.Amount
										</span>
										<span class="product-list-price">
											@homeProduct.DiscountAmount
										</span>
								}
								else
								{
										<span class="product-list-price">
											@homeProduct.Amount
										</span>
								}
							</div>
						</div>
				}


			</div>
			<div class=" col-lg-4 col-sm-6 col-xl-3">

				@foreach (var homeProduct in Model.HomeProducts.Skip(2).Take(2).ToList())
				{
						<div class="sin-product">
							<a href="@homeProduct.Url">
								<img src="@homeProduct.ImageUrl" alt="@homeProduct.Title">
							</a>
							<div class="mid-wrapper style-two">
								<h5 class="pro-title"><a href="@homeProduct.Url">@homeProduct.Title</a></h5>


								@if (homeProduct.IsInPromotion)
								{
										<span class="product-list-price old-price">
											@homeProduct.Amount
										</span>
												<span class="product-list-price">
													@homeProduct.DiscountAmount
												</span>
								}
								else
								{
										<span class="product-list-price">
											@homeProduct.Amount
										</span>
								}
							</div>
						</div>
				}

			</div>

			<div class=" col-lg-4 col-sm-6 col-xl-3">

				@foreach (var homeProduct in Model.HomeProducts.Skip(4).Take(2).ToList())
				{
						<div class="sin-product">
							<a href="@homeProduct.Url">
								<img src="@homeProduct.ImageUrl" alt="@homeProduct.Title">
							</a>
							<div class="mid-wrapper style-two">
								<h5 class="pro-title"><a href="@homeProduct.Url">@homeProduct.Title</a></h5>


								@if (homeProduct.IsInPromotion)
								{
										<span class="product-list-price old-price">
											@homeProduct.Amount
										</span>
												<span class="product-list-price">
													@homeProduct.DiscountAmount
												</span>
								}
								else
								{
										<span class="product-list-price">
											@homeProduct.Amount
										</span>
								}
							</div>
						</div>
				}

			</div>

			<div class=" col-lg-4 col-sm-6 col-xl-3">

				@foreach (var homeProduct in Model.HomeProducts.Skip(6).Take(2).ToList())
				{
						<div class="sin-product">
							<a href="@homeProduct.Url">
								<img src="@homeProduct.ImageUrl" alt="@homeProduct.Title">
							</a>
							<div class="mid-wrapper style-two">
								<h5 class="pro-title"><a href="@homeProduct.Url">@homeProduct.Title</a></h5>


								@if (homeProduct.IsInPromotion)
								{
										<span class="product-list-price old-price">
											@homeProduct.Amount
										</span>
												<span class="product-list-price">
													@homeProduct.DiscountAmount
												</span>
								}
								else
								{
										<span class="product-list-price">
											@homeProduct.Amount
										</span>
								}
							</div>
						</div>
				}

			</div>
			<a href="/forms" class="btn-ghanon archive">آرشیو محصولات</a>

		</div>
		<!-- /.row -->
	</div>
	<!-- Container-two  -->
</section>


<section class="banner-product">
	<div class="container container-two">
		<div class="section-heading pb-30">
			<h3>آخرین مقالات <span>قانون گستر</span></h3>
		</div>
		<div class="row justify-content-center">

			<div class="order-1 order-lg-1 col-lg-9 col-xl-9">

				<div class="shop-content">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" aria-labelledby="home-tab">
							<div class="row">
								@foreach (var blog in Model.SiteBlogs)
								{
										<div class="col-sm-6 col-xl-4">
											<div class="sin-product style-two">

												<a href="/blog/@blog.SiteBlogCategory.UrlParam/@blog.UrlParam">
													<img src="https://ghanongostar.zavoshsoftware.com/@blog.ImageUrl" alt="@blog.Title">
												</a>

												<div class="mid-wrapper">
													<h2 class="pro-title"><a href="/blog/@blog.SiteBlogCategory.UrlParam/@blog.UrlParam">@blog.Title</a></h2>
													<div class="color-variation">
														<ul>
															<li><i class="fas fa-circle"></i></li>
															<li><i class="fas fa-circle"></i></li>
															<li><i class="fas fa-circle"></i></li>
															<li><i class="fas fa-circle"></i></li>
														</ul>
													</div>
												</div>

											</div>
										</div>
								}

								<a href="/blog" class="btn-ghanon archive">آرشیو مطالب</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="banner-product">
	<div class="container container-two">
		<div class="section-heading pb-30">
			<h3>آخرین ویدیو های آموزشی <span>قانون گستر</span></h3>
		</div>
		<div class="row justify-content-center">

			<div class="order-1 order-lg-1 col-lg-9 col-xl-9">

				<div class="shop-content">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" aria-labelledby="home-tab">
							<div class="row">
								@foreach (var video in Model.LatestVideos)
								{
										<div class="col-sm-6 col-xl-4">
											<div class="sin-product style-two">

												<a href="/video/@video.ProductGroup.UrlParam/g-@video.Code">
													<img src="https://ghanongostar.zavoshsoftware.com/@video.ImageUrl" alt="@video.Title">
												</a>

												<div class="mid-wrapper">
													<h2 class="pro-title"><a href="/video/@video.ProductGroup.UrlParam/g-@video.Code">@video.Title</a></h2>
													<div class="color-variation">
														<ul>
															<li><i class="fas fa-circle"></i></li>
															<li><i class="fas fa-circle"></i></li>
															<li><i class="fas fa-circle"></i></li>
															<li><i class="fas fa-circle"></i></li>
														</ul>
													</div>
												</div>

											</div>
										</div>
								}

								<a href="/video/a" class="btn-ghanon archive">آرشیو ویدیوهای آموزشی</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>



<section class="testimonial-area bg-one padding-120">
	<div class="container container-two">
		<div class="section-heading pb-30">
			<h3>نظرات مشتریان <span>قانون گستر</span></h3>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="single-testimonial">
						<div class="tes-img">
							<img src="/images/te1.jpg" alt="">
						</div>
						<div class="tes-content">
							<p>موسسه قانون گستر مجموعه ای جوان ، با علم وآگاهی روز که در راستای بهبود روابط کار و آگاه سازی مدیران و کارفرمایان از حقوق قانونی خو در جهت پاسداری جامعه ای سالم تلاش می کند . آرزوی موفقیت و کامیابی را برای این مجموعه دارم .</p>
							<span>ساسان روحانی (مدیریت اداری شرکت آب های معدنی دماوند)</span>
						</div>
					</div>
					<div class="single-testimonial">
						<div class="tes-img">
							<img src="/images/te2.jpg" alt="">
						</div>
						<div class="tes-content">
							<p>بسیار خوشحال هستم با مجموعه ای همکاری داریم که ، برگزاری سمینارها و همایش های تخصصی اش باعث افزایش علم مدیریت و دانش حقوقی مدیران و کارشناسان می گردد . تشکر ویژه ای دارم بابت خدمات ارزشمند مجموعه قانون گستر.</p>
							<span>روح الله حیدری (مسئول اداری مجموعه هاکوپیان )</span>
						</div>
					</div>
					<div class="single-testimonial">
						<div class="tes-img">
							<img src="/images/te3.jpg" alt="">
						</div>
						<div class="tes-content">
							<p>با توجه به ارتباطات گسترده ای که با موسسات آموزشی دارم ، مجموعه قانون گستر را با رهبریت آقای حاجی زاده بسیار متمایز و بر پایه علمی قوی دانش بالا و تجربه مثال زدنی ارزیابی نمودم به همین جهت از همکاری با قانون گستر خرسند میباشم</p>
							<span>محمود رزاقی (مدیریت منابع انسانی شرکت نوین چرم)</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="subscribe-area style-two">
	<div class="container container-two">
		<div class="row">
			<div class="col-lg-6">
				<div class="subscribe-wrapper">
					<input placeholder="ثبت ایمیل" type="text">
					<button type="submit">ثبت نام</button>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="subscribe-text">
					<h6>در خبرنامه قانون گستر عضو شوید تا از آخرین اخبار و قوانین کار مطلع شوید</h6>
				</div>
			</div>
		</div>
	</div>
</section>
