@model IEnumerable<Models.EmpClubQuestion>

@{

    
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                              columns.Bound(model => model.User.FullName);
                              columns.Bound(model => model.User.CellNum);
        columns.Bound(model => model.Subject);
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.CreationDate);
					columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
						.Template(@<text>
							          @*<a href="/EmpClubQuestions/Edit/@item.Id?status=@ViewBag.status" class = "k-button">پاسخ به سوال</a>*@
							          @Html.ActionLink("پاسخ به سوال", "Edit", new {id = @item.Id, status = ViewBag.status}, new {@class = "k-button"})
							          @Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "k-button"})
						           </text>).Width(200);
									})
		.ToolBar(toolbar =>
		{
			//toolbar.Custom().Action("Create","EmpClubQuestions").Text("افزودن");                          
		}
		)
		.DataSource(dataSource => dataSource
									.Server()

									.Model(model => model.Id(item => item.Id))
					)
	)
