@model IEnumerable<Models.FormInstagramLive>

@{
ViewBag.Title = "فهرست افراد ثبت نام کرده در کارگاه" ;
    
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                                  columns.Bound(model => model.FirstName);
        columns.Bound(model => model.LastName);
        columns.Bound(model => model.InstagramId);
        columns.Bound(model => model.ContactNumber);
        columns.Bound(model => model.IsPaid);
        columns.Bound(model => model.OrderCode);
        columns.Bound(model => model.SaleRefrenceId);
        columns.Bound(model => model.CreationDate);
					columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("ویرایش", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									</text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{				
						toolbar.Custom().Action("Create","FormInstagramLives").Text("افزودن");                          
					}
		)         
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.Id))
					)              
	)
