@model ViewModels.EmployerPackageViewModel
@{
		ViewBag.Title = "باشگاه روابط کار | قانون گستر";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
@section headSection
{
	<style>
		.img-header {
			width: 100%;
		}
		.employer-container {
			margin-bottom: 20px;
		}.employer-container ul {
			direction: rtl;
			text-align: right;
		}

		.card-feature {
			/*border: 1px solid #ec0000;
			padding: 5px;*/
			text-align: center;
			margin-bottom: 15px;
		}

			.card-feature .card-feature-img {
			}

			.card-feature .card-feature-info {
				margin-top: 10px;
			}

		.heading-title {
			margin: 25px 0;
		}

		.card-package {
			text-align: center;
			border: 1px solid #ddd;
		}

			.card-package .package-color {
				height: 10px;
			}

			.card-package .paclage-title {
				padding: 20px 0;
			}

			.card-package .package-price {
				margin-bottom: 20px;
				direction: rtl;
			}

			.card-package .red {
				background-color: red;
			}

			.card-package .green {
				background-color: green;
			}

			.card-package .blue {
				background-color: blue;
			}

		.btn-bottom-20 {
			margin-bottom: 20px;
		}

		.mrl0 {
			margin-right: 0;
			margin-left: 0;
		}

		.prl0 {
			padding-right: 0;
			padding-left: 0;
		}

		.bg-gray {
			background-color: #ececec;
		}
	</style>
}
<section class="breadcrumb-area">
	<div class="container-fluid custom-container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bc-inner">
					<p>
						<a href="/">قانون گستر  |</a>
						باشگاه روابط کار
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="employer-container">

		<div class="row justify-content-center mrl0">
			<div class="col-lg-10 prl0">

				<p class="heading-color text-center">
					<img src="~/images/Employers-Club2.jpg" class="img-header" />
				</p>
			</div>
		</div>
	</div>
</section>

<section class="employer-container">
	<div class="row justify-content-center mrl0">

		<div class="col-lg-10">
			<h2 class="text-center heading-title">
				باشگاه روابط کار قانون گستر
			</h2>
			<p class="heading-color mb--30 text-center">
				بی شک یادگیری و آموزش امری است که مدیران و کارفرمایان موفق همواره به دنبال آن بوده و هیچگاه از این مسئله غافل نبودند در روند کسب و کار خود ، آموزش را سرلوحه خود قرار دادند .
				با توجه به تغییر مداوم قوانین و مقررات در حوزه های مختلف قانون کار مالیات تامین اجتماعی ما نیاز شما کارفرمایان عزیز را درک کرده و بستری فراهم آورده ایم که در کوتاه ترین  زمان ممکن بتوانید از آخرین تغییرات قانون آگاه شده و  به موقع به کاربگیرید .
			
			</p>
			<p class="heading-color mb--30 text-center">
				اگر به عنوان یک کارفرما، مدیرعامل ، حسابدار ، مدیر مالی و یا وکیل دادگستری مشغول به کار هستید عضویت در باشگاه روابط کار به شما کمک خواهد کرد که بدون داشتن مشاور یا صرف هزینه های بالا برای جبران خسارات و ضرر زیان های وارده از جهل به قوانین کسب و کار به راحتی به فعالیت خود ادامه دهید و دغدغه های پیگیری موضوعات حقوقی کسب و کار خود را به ما بسپارید .
				فراموش نکنید که پیشگیری بهتر از درمان است و قبل از آنکه شما هم به مرحله پشیمانی از عدم آگاهی موارد مهم کسب و کار خود برسید ، بهتر است یک بار برای همیشه کسب و کار خود را بیمه کنید .

			</p>
					</div>
					</div>
		</section>
			
<section class="employer-container bg-gray">
			<div class="row justify-content-center mrl0">

				<div class="col-lg-10">
			<h2 class="text-center heading-title">
				با ثبت نام در باشگاه روابط کار قانون گستر از امکانات زیر استفاده کنید
			</h2>

			<div class="row dirright">
				<div class="col-lg-4">
					<div class="card-feature">

						<img src="~/images/emp/4.png" />
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card-feature">

						<img src="~/images/emp/2.png" />
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card-feature">

						<img src="~/images/emp/1.png" />
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card-feature">
						<img src="~/images/emp/3.png" />

					</div>
				</div>
				<div class="col-lg-4">
					<div class="card-feature">
						<img src="~/images/emp/6.png" />

					</div>
				</div>
				<div class="col-lg-4">
					<div class="card-feature">
						<img src="~/images/emp/5.png" />

					</div>
				</div>
			</div>
					
		</div>
	</div>
</section>
					
					
				<section class="employer-container">
					<div class="row justify-content-center mrl0">

						<div class="col-lg-10">
					<h2 class="text-center heading-title">
				اشتراک های ماهیانه باشگاه روابط کار
			</h2>

							<div class="row dirright">
								
								@foreach (var product in Model.Products)
								{
									<div class="col-lg-4">
										<div class="card-package">
											<div class="package-color red"></div>
											<div class="paclage-title">
												<h3>@product.Title</h3>
												@if (product.Code == 113)
												{
														<p>چهار ماه استفاده از کلیه امکانات بالا</p>

												}
												@if (product.Code == 114)
												{
														<p>هشت ماه استفاده از کلیه امکانات بالا</p>

												}
												@if (product.Code == 115)
												{
														<p>دوازده ماه استفاده از کلیه امکانات بالا</p>

												}
											</div>
											<div class="package-price">
											@if (product.IsInPromotion)
											{
												<p class="product-list-price old-price">
													@product.AmountStr تومان
												</p>
												<p class="product-list-price">
													@product.DiscountAmountStr تومان
												</p>
}
											else
											{
													<p class="product-list-price">
														@product.AmountStr تومان
													</p>
}
											</div>
											<button type="button" onclick="addToBasket(@product.Code, 1);" class="btn-ghanon btn-bottom-20">خرید</button>
										</div>
									</div>
								} 
							</div>
		</div>
	</div>
</section>